/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$basic-green: #5BA342;
$hover-green: #31c45f;

$grey-00: #f5f5f5;
$grey-01: #E7E7E7;
$grey-02: #c6c6ca;
$grey-03: #7d7d7d;
$grey-04: #434343;

$dark-blue: #546881;
$gold: #f5ca31;


/* Components */
